{% extends "index.html.twig" %}

{% block title %}Register{% endblock %}

{% block teste %}

  <div class="container py-4">
          <h1 class="py-2 text-info text-center">Cadastro de Novos Administradores</h1>
          {{ form_start(registrationForm) }}
              <div class="row col-6 offset-3 ">
                  {{ form_errors(registrationForm) }}
                  {{ form_row(registrationForm.nome) }}
                  {{ form_row(registrationForm.email) }}
                  {{ form_row(registrationForm.plainPassword) }}
                   <div class="col-6 offset-3 py-2">
                  {{ form_row(registrationForm.agreeTerms) }}
                  </div>
                  <button type="submit" class="btn login_submit text-white offset-2" style="width:70%;">Cadastrar</button>
              </div>
          {{ form_end(registrationForm) }}
  </div>

{% endblock %}
