{% extends 'index.html.twig' %}

{% block title %}Hello ProdutoController!{% endblock %}

{% block teste %}
<div class="container-lg  py-4">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Gerenciamento de <b>Galeria</b></h2></div>
                    <div class="col-sm-4">
                        <a href="{{path('galeria_adicionar')}}"  class="btn btn-outline-success "><i class="fa fa-circle-plus"></i> Adicionar </a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Descrição</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                {% for galeria in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{galeria.id}}</td>
                        <td>{{galeria.titulo}}</td>
                        <td>{{galeria.descricao}}</td>
                        <td>
                            <a class="btn btn-outline-warning btn-floating m-1" title="Edit" href="{{path('galeria_editar', {id:galeria.id})}}" ><i class="fa fa-pen-to-square"></i></a>
                            <a class="btn btn-outline-danger btn-floating " title="Delete"  href="{{path('galeria_excluir', {id:galeria.id})}}" onclick="return confirm('Confirmar Exclusão !!!! \nEsta acão não podera ser revertida, Tem Certeza ?')"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %}    
                </tbody>
            </table>
            <div class="row">
                <div class="navigation">
                  <h4> {{ knp_pagination_render(pagination) }}</h4>
                </div>
            </div>

        </div>
    </div>
</div> 

<!-- Modal -->

{% endblock %}

